DATABASE_URL=postgresql://postgres:postgres@localhost:5432/prisp
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin
DEFAULT_ADMIN_FULL_NAME=System Administrator
DEFAULT_ADMIN_EMAIL=admin@prisp.local
DEFAULT_ADMIN_DEPARTMENT=Administration
DEFAULT_ADMIN_FORCE_RESET=false
